<html>
<?php
	require "../config/vars.php";
?>
<head>
    <title id="pageTitle"><?php echo $messages["reset.password.title"] ?></title>
    <link rel="stylesheet" href="../assets/styles/style.css" type="text/css"/>
</head>
<body>
<div class="contentpanel" element="div">
    <h1></h1>
    <br/>
    <form method="POST" name="customer" action="/password/reset">
        <div class="error"></div>
        <div>
            <label for="password"><?php echo $messages["customer.password"] ?></label>
            <input type="password" name="password"/>
        </div>
        <div>
            <label for="confirmPassword"><?php echo $messages["customer.password.confirm"] ?></label>
            <input type="password" name="confirmPassword"/>
        </div>

        <div id="buttons">
            <div class="login">
                <input type="submit" value="<?php echo $messages["change.password.set.new"] ?>"/>
            </div>
        </div>
    </form>
</div>
</body>
</html>